<div class="container">
        <h2>Login</h2>
  <p>
    <label><b>Brugernavn</b></label></p>
    <p>
    <input name="uname" type="text" id ="uname"></p>
    <p>
    <label id = "pass"><b>Password</b></label></p>
    <p>
    <input name="pass" type="text" id ="upass"></p>
    <p>
    <button id="loginForm">Login</button>
    <button id="RegisterUser">Opret bruger</button></p>

</div>