<div  class="leftDiv column">
  <!-- <button class="startpagebtn startpagebtn_user"> fff </button> -->
  <img id="loginbackground" src="" class="background_login">
</div>
<div class="container rigthDiv loginDiv">
  <p></p>
  <h2>Login</h2>
  <p></p>

  <p>
    <p></p>
    <input name="uname" type="text" id="uname" placeholder="Indtast brugernavn" class="customTb">

  </p>

  <p></p>

  <input name="pass" type="password" id="upass" placeholder="Indtast kodeord" class="customTb">
  <p></p>
  <div>
    <button id="RegisterUser" class="customBtn">Opret bruger</button>
    <button id="loginForm" class="customBtn rightBtn">Login</button>

  </div>

</div>