<h2>Registration form</h2>
<p>
    <label><b>User Name</b></label>
    <input id="uname" name="uname" type="text"></p>
<p>
    <label><b>Password</b></label>
    <input id="upass" name="pass" type="text"></p>
<p>
    <label><b>Password</b></label>
    <input id="upass" name="pass" type="text"></p>
<p>
    <button id="regForm">Register</button></p>