
<li>
    <div>
        <div class='pickUpDiv'>
            <%- job.pickUpLocation %>
            <%- job.pickUpDateTime %>
            
        </div>
        <div class='destinationDiv'>

        </div>
        <div>

        </div>
    </div>
    <%- job.destination %>
</li>