<div class="container">
    <div class="row">
        <form>
                <div class="col-">
                        <label for="Pickup">Afhentning </label>
                        <br>
                        <label>Landkode</label>
                        <input type="text" id="Pickup_Country" name="Pickup_Country" required
                       minlength="2" maxlength="4" size="10">
                       <label>Postnummer</label>
                       <input type="text" id="Pickup_Country" name="Pickup_Country" required
                       minlength="4" maxlength="10" size="10">
                </div>
                
                 <div class="col-">
                        <label for="Pickup">Levering </label>
                        <br>
                        <label>Landkode</label>
                        <input type="text" id="Deliver_Country" name="Deliver_Country" required
                       minlength="2" maxlength="4" size="10">
                       <label>Postnummer</label>
                       <input type="text" id="Deliver_Country" name="Deliver_Country" required
                       minlength="4" maxlength="10" size="10">
                </div>
        
                <div class="col-">
                        <label for="Gods">Gods </label>
                        <br>
                        <label>Ladmeter</label>
                        <input type="text" id="Loading_meters" name="Loading_meters" required
                       minlength="2" maxlength="4" size="10">
                       <label>Postnummer</label>
                       <input type="text" id="PickupCountryCode" name="PickupCountryCode" required
                       minlength="4" maxlength="10" size="10">
                    </div>

                <div class="col">
                    <label >
                        <input type="radio" name="gender" value="male" checked> Male<br>
                        <input type="radio" name="gender" value="female"> Female<br>
                        <input type="radio" name="gender" value="other"> Other
                </div>
        <input type="submit" value="Submit">
        </form>
       
    </div>
</div>
<div class='container'>
    <% if (foundJobs) { %>
    <ul>
    <% foundJobs.forEach(function(job){ %>
        <%- include('modules/searchResult', {job: job}); %>
      <% }); %>
    </ul>
    <% } else { %>
        <label>Indtast søgeparametre</label>
        <% } %>
</div>