<div>
    <!-- <button id="addbtnbtn">Add label</button>
    <div id="labeldiv"> 
        <label>First label</label>
    </div> -->
    <div class="leftDiv column">
        <!-- <button class="startpagebtn startpagebtn_user"> fff </button> -->
        <img id="userBtn" src="userbtn.png" class="startpagebtn">
    </div>
    <div class="rightDiv column">
        <img id="truckBtn" src="truck.png" class="startpagebtn">
    </div>

</div>