<div class="headerColor footerSize">
    <span>
            <img src="icon.png" class="footerIcon"> 
        <label class="tinyLbl">
            Est. 2019         
        </label>
        </span>
    <span class="rightSpan">
        Log af osv.
    </span>
</div>
</body>

</html>