<div class="headerColor footerSize">
    <span>
            <img src="icon.png" class="footerIcon">           
        </span>
    <span class="rightSpan">
        Log af osv.
    </span>
</div>
</body>

</html>