<!DOCTYPE html>

<html>

<head>
    <% include head %>
</head>

<body>
    <div class="headerColor headerSize">
        <div>
            <span>
                    (Logo)            
            </span>
            <span class="rightSpan">
                Log af osv.
            </span>
        </div>
    </div>
</body>
</html>