<!DOCTYPE html>

<html>

<head>
    <% include head %>
</head>

<body>
    <div class="headerColor headerSize">
        <div>
            <span>
                <img id="homeBtn" src="icon.png" class="headerIcon hover">           
            </span>
            <span class="rightSpan">
                <button class="headerBtn hover">Kontakt</button>
                <button class="headerBtn hover">Om os</button>
                <button class="headerBtn hover">Log af</button>
            </span>
        </div>
    </div>

