<!DOCTYPE html>

<html>

<head>
    <% include head %>
</head>

<body>
    <div class="headerColor headerSize">
        <div>
            <span>
                <img src="icon.png" class="headerIcon">           
            </span>
            <span class="rightSpan">
                Log af osv.
            </span>
        </div>
    </div>

