<!DOCTYPE html>

<html>

<head>
    <% include head %>
</head>

<body>
    <div class="headerColor headerSize">
        <div>
            <span>
                <img id="homeBtn" src="icon.png" class="headerIcon hover">           
            </span>
            <span class="rightSpan">
                <button id="contactBtn" class="headerBtn hover">Kontakt</button>
                <button id="aboutBtn" class="headerBtn hover">Om os</button>
                <button id="loginBtn" class="headerBtn hover btnShown">Log ind </button>
                <button id="logoutBtn" class="headerBtn hover btnHidden">Log ud </button>
        </div>
    </div>

