html, body {
    height: 100%;
    margin: 0;
  }

.headerColor{
    background-color: #264A60;
    color: whitesmoke;
}

.headerSize{
    padding: 15px;
}

.rightSpan{
    float: right;
}

.footerSize{      
    position: absolute;
    left: 0;
    bottom: 0;
    padding-left: 15px;
    padding-right: 15px; 
    padding-top: 5px;
    padding-bottom: 5px;   
    width: 100%;
    overflow: hidden;
}

.leftDiv{
    float: left;
    min-width: 50%;
    max-width: 50%;
    min-height: 100%;
    position: fixed;    
    display: flex;
    align-items: center;
    justify-content: center;
}

.rightDiv{
    float: right;
    min-width: 50%;
    max-width: 50%;
    min-height: 100%;
    background-size: cover;
    position: fixed;
    margin-left: 50% !important;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.column {
    float: left;
    width: 50%;
  }

.label {
    display: inline-block;
    width: 140px;
    text-align: right;
}

.startpagebtn{
    width: auto;
    max-width: 60%;
    margin-bottom: 10%;
    opacity: 0.7;
}

.startpagebtn:hover {
    opacity: 1.0;
    filter: alpha(opacity=100); /* For IE8 and earlier */
  }
  
.headerIcon {
    height: 40px;
}

.footerIcon{
    height: 20px;
}​
.row {
    border-color: #264A60;
}


.hover:hover{
    cursor: pointer;
}

.tinyLbl{
    font-size: 8pt; 
}

.headerBtn{
    border: 1px solid whitesmoke;
    background: transparent;
    color: whitesmoke;
    width: auto;
}
