body {
    display: flex;
    flex-direction: column;
  }

.headerColor{
    background-color: #264A60;
    color: whitesmoke;
}

.headerSize{
    padding: 15px;

}

.rightSpan{
    float: right;
}

.footerSize{
    flex-shrink: 0;
}
.label{
    width: 50px;
}
.label {
    display: inline-block;
    width: 140px;
    text-align: right;
  }​
